<phpunit bootstrap="bootstrap.php"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false">

    <filter>
        <blacklist>
            <directory suffix=".php">../modules/*/tests</directory>
        </blacklist>
         
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../modules/*/models</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="demo">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">../modules/demo/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
